#include "Shared.xcconfig"

PRODUCT_NAME = OhMyThemeAppTests
PRODUCT_BUNDLE_IDENTIFIER = com.ohmytheme.OhMyThemeAppTests
GENERATE_INFOPLIST_FILE = YES

TEST_HOST = $(BUILT_PRODUCTS_DIR)/OhMyTheme.app/Contents/MacOS/OhMyTheme
BUNDLE_LOADER = $(TEST_HOST)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
